.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0B2434;
}

.board {
    position: absolute;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    background: #F5F5F5;
    border-radius: 10px;
}

.playarea {
    font-family: 'Poppins';
    position: absolute;
    overflow: scroll;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
}

.playarea h1 {
    text-align: center;
    color: #2B283A;
}

.playarea p {
    text-align: center;
    color: #4A4E74;
}

.playarea .roll button {
    font-family: 'Poppins';
    width: 100px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    height: 40px;
    color: #FFFFFF;
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
}

.playarea .roll {
    display: block;
    margin: 5% auto;
}

.playarea .numbers {
    width: 75%;
    margin: auto;
}

.playarea .numbers .number-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.playarea .numbers .number-box > .box {
    padding: 2%;
    margin: 2%;
    flex: 1 0 12%;
    text-align: center;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
}

.playarea .numbers .number-box > .box-set {
    padding: 2%;
    margin: 2%;
    flex: 1 0 12%;
    text-align: center;
    background: #59E391;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
}